body{
    background-color: peru;
}
h1{
    color: white;
    transition:  color 0.8s ease-in-out;
}

.clicked {
    color:blue;
}

.js-clock{
    margin-top: 25%;
    text-align : center;
    font-size : 50px;
}
.js-form input{
    text-align : center;
    width:50%;
    height: auto;
    font-size:20px;
}

.form, .grettings{
    display: none;
}

.showing{
    display: block; 
}

